@mixin important-text{
    max-width: 1400px;
    padding: 0px 28px;
    margin: auto;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  nav{
      width: 100%;
      padding: 15px 0px;
      background-color: white;
      position: fixed;
      z-index: 2;
      .qlobal-item {
            img{
       width: 70%;
       cursor: pointer;
       display: flex;
       font-size: 18px;
      }
      }
  }
  
  .container{
      @include important-text()
  }
  @mixin black-text{
      width: 12%;
      padding: 25px 0px;
   }
  .initial-scale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .qlobal-item{
      display: flex;
  }
  .qlobal-item-1{
      width: 54%;
      padding: 25px 0px
  }
  .qlobal-item-2{
      @include black-text();
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  }
  ul {
      a{
      display: flex;
      justify-content: space-evenly;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 400;
     text-decoration: none;
     color: black;
  }
      li{
      list-style-type: none;
      &:hover{
          color: red;
          cursor: pointer;
  }
  }
  
  .qlobal-item-2 {
      a{
    font-size: 19px;
     &:hover{
      color: red;
      cursor: pointer;
  }
  }
  }
  }
   ul { 
      li.hot{
      position: relative;
      &::before{
          box-shadow: 0 2px 5px rgba(0,0,0,0.3);
          padding: 3px 8px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 500;
          position: absolute;
          content: "HOT";
          background: #ff003c;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          font-size: 10px;
          bottom: 19px;
          right: -34px;
      }
  }
  }
  
  
  @mixin all-flex{
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  .lose{
      display: none;
      width: 80%;
      .qlobal-item-3{
          width: 120px;
          background-color: rgb(8, 8, 51);
          color: white;
          padding: 13px 0px;
      }
  }
  
  .none {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 90px;
      background-color: rgb(232, 231, 231);
      .important-value {
          @include all-flex();
            width: 100%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           gap: 80px;
           .important-value-1 {
            display: flex;
            justify-content: center;
            text-align: start;
            width:55%;
            flex-direction: column;
            gap: 70px;
            h1{
                font-size: 96px;
                font-weight: 700;
                font-family: sans-serif;
                font-style: normal;
                color: rgb(7, 3, 26);
            }
            p{
                font-size: 20px;
                font-weight: 300;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
        .important-value-2 {
            width: 28%;
            overflow: hidden;
            transition: all;
            animation: submit 4.1s infinite;
            z-index: 1;
            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                display: flex;
            }
        }
          
        }
        button{
        position: absolute;
        left: 90px;
        color: white;
        width: 180px;
        padding: 18px 0px;
        font-size: 18px;
        background-color: #1e1d38;
        border-style: none;
        transform: translate(-50%, -50%);
        }
        .btn{
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            background-color: #ff003c;
            transition: transform 0.5s;
            transform-origin: 0 0;
            transition-timing-function: cubic-bezier(0.5, 1, 6, 0.4, 0.7 );
            width: 100%;
            height: 100%;
        }
        }
        
        .submit::before{
            transform: scaleX(0);
        }
        .submit:hover::before{
            transform: scaleX(1);
        }
        
        
        @keyframes submit {
            0% {
              transform: scale(0.9);
            }
            25%{
                transform: scale(0.87);
            }
            50% {
              transform: scale(0.88);
            }
            75%{
                transform: scale(0.87);
            }
            100% {
              transform: scale(0.9);
            }
          }
        
  }
  .container-port{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 80px 0px
  }
  .first-one{
      @include all-flex();
      width: 100%;
      gap: 35px;
      .font-size-1{
      @include all-flex();
      text-align: center;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      img{
          width: 100%;
          transition: 1s;
          &:hover{
              scale: 1.08;
          }
      }
  }
  .font-size-2{
      @include all-flex();
      text-align: center;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      img{
          width: 100%;
          transition: 1s;
          &:hover{
              scale: 1.08;
          }
      }
  }
  .font-size-3{
      @include all-flex();
      text-align: center;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      img{
          width: 100%;
          transition: 1s;
          &:hover{
              scale: 1.08;
          }
      }
  }
  }
  .words{
      width: 35%;
      padding: 59px 0px;
      p{
          font-size: 50px;
          font-weight: 700;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
  }
  
  @mixin text-decoration{
      color: #17152c;
      font-weight: 700;
      font-size: 24px;
      padding-top: 20px;
      margin-bottom: 14px;
      cursor: pointer;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  @mixin text-style{
      color: rgb(210, 75, 30);
      font-size: 18px;
  }
  
  
  .font-size-1 {
      h1{
      @include text-decoration();
  }
  }
  .font-size-2 {
      h1{
      @include text-decoration();
  }
  }
  .font-size-3 {
       h1{
      @include text-decoration();
  }
  }
  .font-size-1 {
      p{
      @include text-style();
  }
  }
  .font-size-2 {
      p{
      @include text-style();
  }
  }
  .font-size-3 {
      p{
      @include text-style();
  }
  }
  .all-photo{
      @include all-flex();
      width: 100%;
      gap: 40px;
  }
  .big-photo{
      gap: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  
  @mixin style{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .big-photo-1{
      width: 46%;
      height: 650px;
      img{
          @include style();
        width: 100%;
        height: 100%;
        transition: 1s;
        &:hover{
          scale: 0.95;
      }
      }
  }
  .big-photo-2{
      width: 25%;
      height: 650px;
      img{
          @include style();
          width: 100%;
          height: 100%;
          transition: 1s;
          &:hover{
              scale: 0.95;
          }
      }
  }
  .big-photo-3{
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-direction: column;
      transition:1s
  }
  
  .bi-justify-1{
      width: 100%;
      height: 310px;
      img{
          @include style();
          width: 100%;
          height: 100%;
          transition: 1s;
          &:hover{
              scale: 0.95;
          }
      }
  }
  .bi-justify-2{
      width: 100%;
      height: 310px;
      img{
          @include style();
          width: 100%;
          height: 100%;
          transition: 1s;
          &:hover{
              scale: 0.95;
          }
      }
  }
  .popular-items{
      width: 100%;
  }
  .timezone{
      width: 100%;
      @include all-flex();
      gap: 60px;
      flex-direction: column;
      background-color: white
  }
  .watch{
    @include all-flex();
    gap: 27px;
  
    .red-1, .red-2, .red-3 {
      width: 100%;
      height: 5px;
      background-color: red;
  }
  }
  .display{
      @include all-flex();
      gap: 27px;
      .red-4, .red-5, .red-6 {
          width: 100%;
          height: 5px;
          background-color: red;
      }
  }
  @mixin textarea{
      @include all-flex();
      text-align: center;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      gap: 10px;
      position: relative;
      cursor: pointer;
      
  }
  .photo-item-1{
      @include textarea();
      &::before{
          @include all-flex();
          width: 100%;
          height: 60px;
          content: "Cart to add";
          text-align: center;
          background-color: red;
          color: white;
          position: absolute;
          cursor: pointer;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scale(0);
      }
      &:hover::before{
          transform: scale(1);
      }
  }
  .photo-item-2{
      @include textarea();
      &::before{
          @include all-flex();
          width: 100%;
          height: 60px;
          content: "Cart to add";
          text-align: center;
          background-color: red;
          color: white;
          position: absolute;
          cursor: pointer;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scale(0);
      }
      &:hover::before{
          transform: scale(1);
      }
  }
  .photo-item-3{
      @include textarea();
      &::before{
          @include all-flex();
          width: 100%;
          height: 60px;
          content: "Cart to add";
          text-align: center;
          background-color: red;
          color: white;
          position: absolute;
          cursor: pointer;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scale(0);
      }
      &:hover::before{
          transform: scale(1);
      }
  }
  .photo-item-4{
      @include textarea();
      &::before{
          @include all-flex();
          width: 100%;
          height: 60px;
          content: "Cart to add";
          text-align: center;
          background-color: red;
          color: white;
          position: absolute;
          cursor: pointer;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scale(0);
      }
      &:hover::before{
          transform: scale(1);
      }
  }
  .photo-item-5{
      @include textarea();
      &::before{
          @include all-flex();
          width: 100%;
          height: 60px;
          content: "Cart to add";
          text-align: center;
          background-color: red;
          color: white;
          position: absolute;
          cursor: pointer;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scale(0);
      }
      &:hover::before{
          transform: scale(1);
      }
  }
  .photo-item-6{
      @include textarea();
      &::before{
          @include all-flex();
          width: 100%;
          height: 60px;
          content: "Cart to add";
          text-align: center;
          background-color: red;
          color: white;
          position: absolute;
          cursor: pointer;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scale(0);
      }
      &:hover::before{
          transform: scale(1);
      }
  }
  
  
  .photo-item-1  {
      h1{
      @include text-decoration();
      color: #28244b
  }
  p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 300
  }
  img{
      @include style();
      width: 100%;
      height: 100%;
      }
  }
  .photo-item-2  {
      h1{
      @include text-decoration();
      color: #28244b
  }
  p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 300
  }
  img{
      @include style();
      width: 100%;
      height: 100%;
      }
  }
  .photo-item-3  {
      h1{
      @include text-decoration();
      color: #28244b
  }
  p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 300
  }
  img{
      @include style();
      width: 100%;
      height: 100%;
      }
  }
  .photo-item-4  {
      h1{
      @include text-decoration();
      color: #28244b
  }
  p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 300
  }
  
  img{
      @include style();
      width: 100%;
      height: 100%;
      }
  }
  .photo-item-5  {
      h1{
      @include text-decoration();
      color: #28244b
  }
  p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 300
  }
  
  img{
      @include style();
      width: 100%;
      height: 100%;
      }
  }
  .photo-item-6  {
      h1{
      @include text-decoration();
      color: #28244b
  }
  p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 300
  }
  
  img{
      @include style();
      width: 100%;
      height: 100%;
      }
  }
  
  .notvideo{
      padding: 80px 0px;
      @include all-flex();
  }
  .class{
      @include all-flex();
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      img{
          @include style();
           width: 100%;
            height: 600px;
          }
  }
  .button1{
      position: relative;
      button{
          position: absolute;
          left: 1px;
          top: 25px;
          color: white;
          width: 240px;
          padding: 18px 0px;
          font-size: 18px;
          background-color: #ff003c;
          border-style: none;
          transform: translate(-50%, -50%);
          }
  }
  .btn1{
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: #1e1d38;
      transition: transform 0.5s;
      transform-origin: 0 0;
      transition-timing-function: cubic-bezier(0.5, 1, 6, 0.4, 0.7 );
      width: 100%;
      height: 100%;
  }
  }
  
  .submit1::before{
      transform: scaleX(0);
  }
  .submit1:hover::before{
      transform: scaleX(1);
  }
  .after{
      width: 60%;
      @include all-flex();
      flex-direction: column;
      gap: 15px;
      text-align: center;
      padding: 30px 0px;
      h1{
          font-size: 38px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: black;
      }
      p{
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          color: rgb(130, 129, 129);
      }
  }
  .heartbeat{
      width: 100%;
      .mymind{
          @include all-flex();
          gap: 90px;
          padding: 100px 0px;
          .right{
              width: 35%;
              display: flex;
              flex-direction: column;
              gap: 60px;
              h1{
                  font-size: 50px;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              }
              p{
                  font-size: 20px;
                  color: rgb(149, 148, 148);
              }
          }
          .left{
              @include all-flex();
              overflow: hidden;
              img{
                  @include style();
                  width: 100%;
                  height: 85%;
              }
          }
      }
  }
  
  
  .button2{
      position: relative;
      button{
          position: absolute;
          left: 99px;
          top: 25px;
          color: white;
          width: 200px;
          padding: 18px 0px;
          font-size: 18px;
          background-color: #ff003c;
          border-style: none;
          transform: translate(-50%, -50%);
          }
  }
  
  .btn2{
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: #1e1d38;
      transition: transform 0.5s;
      transform-origin: 0 0;
      transition-timing-function: cubic-bezier(0.5, 1, 6, 0.4, 0.7 );
      width: 100%;
      height: 100%;
  }
  }
  
  .submit2::before{
      transform: scaleX(0);
  }
  .submit2:hover::before{
      transform: scaleX(1);
  }
  
  .heartbeat-1{
      width: 100%;
      .mymind-1{
          @include all-flex();
          gap: 90px;
          padding: 100px 0px;
          .right-1{
              width: 35%;
              display: flex;
              flex-direction: column;
              gap: 60px;
              h1{
                  font-size: 50px;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              }
              p{
                  font-size: 20px;
                  color: rgb(149, 148, 148);
              }
          }
          .left-1{
              @include all-flex();
              overflow: hidden;
              img{
                  @include style();
                  width: 100%;
                  height: 85%;
              }
          }
      }
  }
  .button3{
      position: relative;
      button{
          position: absolute;
          left: 99px;
          top: 25px;
          color: white;
          width: 200px;
          padding: 18px 0px;
          font-size: 18px;
          background-color: #ff003c;
          border-style: none;
          transform: translate(-50%, -50%);
          }
  }
  .btn3{
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: #1e1d38;
      transition: transform 0.5s;
      transform-origin: 0 0;
      transition-timing-function: cubic-bezier(0.5, 1, 6, 0.4, 0.7 );
      width: 100%;
      height: 100%;
  }
  }
  
  .submit3::before{
      transform: scaleX(0);
  }
  .submit3:hover::before{
      transform: scaleX(1);
  }
  
  .system{
      width: 100%;
      display: flex;
      padding: 50px 0px;
  }
  .method{
      margin: auto;
      padding: 50px 0px;
      width: 75%;
      @include all-flex();
      background-color: #ff003c;
  }
  .folder-1, .folder-2, .folder-3{
      width: 30%;
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      flex-direction: column;
      i{
          font-size: 40px;
          color: white;
      }
      h1{
          color: #fff;
         font-size: 23px;
         font-weight: 700;
         line-height: 1.2;
         margin-bottom: 12px;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }
     p{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 16px;
      color: #d3d1d1;
  }
  }
  .tempo{
      width: 100%;
      display: flex;
      padding: 50px 0px;
      .quick{
          width: 75%;
          margin: auto;
          padding: 50px 0px;
          @include all-flex();
          gap: 30px;
          img{
              width: 60%;
              cursor: pointer;
              display: flex;
              font-size: 18px;
          }
      }
  }
  
  .support-1{
      width: 23%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p{
          color: #797979;
          font-size: 17px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
  }
  .support-2, .support-3, .support-4{
      h1{
          font-size: 20px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      p{
          color: #7d7c7c;
          font-family: 'Courier New', Courier, monospace;
          &:hover{
              color: #ff003c;
              cursor: pointer;
          }
      }
  }
  
  footer{
      width: 100%;
      display: flex;
      padding: 50px 0px;
      .end{
          width: 75%;
          padding: 50px 0px;
         display: flex;
         justify-content: space-between;
         align-items: center;
          margin: auto;
          gap: 50px;
          .nobody{
              width: 65%;
              p{
                  font-size: 16px;
                  color: #797979;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              }
              i{
                  color: #ff003c;
              }
          }
          .icons{
              width: 20%;
              display: flex;
              justify-content: center;
              gap: 20px;
              &:hover{
                  cursor: pointer;
              }
              .bi.bi-twitter{
                  &:hover{
                  color: #ff003c;
              }
              }
              .bi.bi-facebook{
                  &:hover{
                      color: #ff003c;
                  }
              }
              .bi.bi-behance{
                  &:hover{
                      color: #ff003c;
                  }
              }
              .bi.bi-globe{
                  &:hover{
                      color: #ff003c;
                  }
              }
          }
      }
  }
  
  
  
  
  span{
      color: #ff003c;
  }
  .fixed{
    position: fixed;
    bottom: 10px;
    right: 30px;
    i{
      color: red;
      font-size: 50px;
  }
  }
  
  ul  {
      li {
          ul.submenu{
      flex-direction: column;
      padding: 18px 5px;
      width: 130px;
      height: 90px;
     border-radius: 10px;
      background-color: rgb(246, 243, 243);
      color: black;
      position: absolute;
      display: none;
      font-size: 17px;
  }
  }
    }
    ul  {
      li {
          ul.submenu {
              li{
      display: block;
  }
  }
  }
    }
    
    ul  {
      li{
          &:hover {
              ul.submenu{
          display: block;
      }
      }
      }
     
    }
    ul  {
      li {
          ul.submenu1{
      flex-direction: column;
      padding: 18px 5px;
      font-size: 17px;
      width: 130px;
      height: 90px;
     border-radius: 10px;
      background-color: rgb(246, 243, 243);
      color: black;
      position: absolute;
      display: none;
  }
  }
    }
    ul  {
      li {
          ul.submenu1 {
              li{
      display: block;
  }
  }
  }
    }
    
    ul  {
      li{
          &:hover {
              ul.submenu1{
          display: block;
      }
      }
      }
     
    }
   
  
  
  
  
  
  
  
  
  @media screen  and (max-width:768px){
      nav{
          .container{
            position: relative;
            .lose{
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              background-color: rgb(14, 14, 90);
             position: absolute;
              top: 60px;
              right: 10px;
              left: 10px;
              .qlobal-item-3{
                  color: white;
                  padding: 2px;
                  background-color: rgb(27, 29, 43);
                  i{
                      font-size: 20px;
                  }
              }
            }
          }
          .qlobal-item-1{
              ul{
                  display: none;
              }
          }
          p{ display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;
              color: gainsboro;
              font-size: 21px;
              padding: 10px 0px;
          }
      }
      .important-value{ 
        width: 100%;
       
          .important-value-1{
              padding: 130px 0px;
           h1{
              font-size: 50px;
              font-family: 300;
              font-family: sans-serif;
           }
          }
      }
      .first-one{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          .font-size-1{
              width: 46%;
          }
          .font-size-2{
             width: 46%;
          }
          .font-size-3{
              width: 46%;
          }
      }
      .all-photo{
          width: 100%;
          .big-photo{
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              .big-photo-1{
                  width: 48%;
              }.big-photo-2{
                  width: 48%;
              }
              .big-photo-3{
                  width: 100%;
                  flex-wrap: wrap;
                  flex-direction: row-reverse;
                 @include all-flex();
                 .bi-justify-1{
                  width: 47%;
                 }
                 .bi-justify-2{
                  width: 47%;
                 }
              }
          }
      }
      .popular-items{
          width: 100%;
         
          .timezone{
              width: 100%;
              display: flex;
              .after{
                  width: 100%;
              }
              .watch{
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  
                  .photo-item-1{
                      width: 45%;
                  }
                  .photo-item-2{
                      width: 45%;
                  }
                  .photo-item-3{
                      width: 45%;
                  }
              }
              .display{
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  .photo-item-4{
                      width: 45%;
                  }
                  .photo-item-5{
                      width: 45%;
                  }
                  .photo-item-6{
                      width: 45%;
                  }
              }
          }
      }
      .heartbeat{
          width: 100%;
              .mymind{
                  display: flex;
                  flex-direction: column;
                  .right{
                      width: 100%;
                      display: flex;
                      justify-content: flex-start;
                  }
                  .left {
                      width: 100%;
                  }
          }
      }
      .heartbeat-1{
          width: 100%;
              .mymind-1{
                  display: flex;
                  flex-direction: column;
                  .right-1{
                      width: 100%;
                      display: flex;
                      justify-content: flex-start;
                  }
                  .left-1{
                      width: 100%;
                  }
          }
      }
      .system{
          width: 100%;
          .method{
              display: flex;
              flex-direction: column;
          }
      }
      .tempo{
          width: 100%;
          .quick{
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;
              .support-1{
                  width: 23%;
              }
              .support-2{
                  width: 23%;
              }
              .support-3{
                  width: 23%;
              }
              .support-4{
                  width: 23%;
              }
          }
      }
      footer{
          width: 100%;
          .end{
              display: flex;
              flex-direction: column;
              .nobody{
                  width: 100%;
              }
              .icons{
                  width: 100%;
              }
          }
      }
  }
  @media screen and (max-width:576px) {
      nav{
          .container{
              
              position: relative;
          }
          .lose{
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              width: 40%;
              background-color: rgb(14, 14, 90);
              position: absolute;
              top: 60px;
              right: 10px;
              left: 10px;
          }
          .qlobal-item-2{
              display: flex;
              gap: 10px;
              position: absolute;
              top: 85px;
              font-size: 26px;
              right: 10px;
             
          }
          p{ display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;
              color: gainsboro;
              font-size: 21px;
              padding: 10px 0px;
          }
      }
      .important-value{ 
          width: 100%;
        
            .important-value-1{
                padding: 150px 0px;
                width: auto;
             h1{
                font-size: 50px;
                font-family: 300;
                font-family: sans-serif;
             }
            }
            .important-value-2{
              display: none;
            }
        }
        .first-one{ 
          width: 100%;
          
          .font-size-1{
              width: 100%;
          }
          .font-size-2{
              width: 100%;
          }
          .font-size-3{
              width: 100%;
          }
      }
      .all-photo{
          width: 100%;
          .big-photo{
              width: 100%;
              display: flex;
              flex-direction: column;
              .big-photo-1{
                  width: 100%;
              }.big-photo-2{
                  width: 100%;
              }
              .big-photo-3{
                  width: 100%;
                  .bi-justify-1{
                      width: 100%;
                  }
                  .bi-justify-2{
                      width: 100%;
                  }
              }
          }
      }
      .popular-items{
          width: 100%;
         
          .timezone{
              display: flex;
              flex-direction: column;
              width: 100%;
              .after{
                  width: 100%;
              }
              .watch{
                  display: flex;
                  .photo-item-1{
                      width: 100%;
                  }
                  .photo-item-2{
                      width: 100%;
                  }
                  .photo-item-3{
                      width: 100%;
                  }
              }
              .display{
                  display: flex;
                  .photo-item-4{
                      width: 100%;
                  }
                  .photo-item-5{
                      width: 100%;
                  }
                  .photo-item-6{
                      width: 100%;
                  }
              }
          }
      }
      .heartbeat{
          width: 100%;
              .mymind{
                  display: flex;
                  flex-direction: column;
                  .right{
                      width: 100%;
                      display: flex;
                      justify-content: flex-start;
                  }
                  .left {
                      width: 100%;
                  }
          }
      }
      .heartbeat-1{
          width: 100%;
              .mymind-1{
                  display: flex;
                  flex-direction: column;
                  .right-1{
                      width: 100%;
                      display: flex;
                      justify-content: flex-start;
                  }
                  .left-1 {
                      width: 100%;
                  }
          }
      }
      .tempo{
          width: 100%;
          .quick{
              display: flex;
              justify-content: flex-start;
              flex-direction: column;
              .support-1{
                  width: 33%;
              }
              .support-2{
                  width: 33%;
              }
              .support-3{
                  width: 33%;
              }
              .support-4{
                  width: 33%;
              }
          }
      }
  }